---
import Concello from '@icons/Concello.astro'
import sponsors from '@/data/logos.json'
---
<div class="mb-section pt-20 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-x-4 gap-y-8 justify-center place-content-center">
    {
        sponsors.map(({alt, fileName, href, text}) => (
            <figure class="shadow-inner">
                <a href={href} target="_blank" rel="noopener noreferrer" class="block p-4 hover:scale-105 hover:opacity-50 transition-all">
                    <img src={`/images/logos/${fileName}`} title={text} alt={alt} class="block mx-auto h-16 object-fill"/></a>
                <figcaption class="absolute -indent-[9999px]">{text}</figcaption>
            </figure>
        ))
    }
</div>

<style>
    figure {
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }
</style>